# Dependencies
node_modules/
jspm_packages/
.npm
.yarn/cache

# Temporary files
tmp/
temp/
*.tsbuildinfo
*.temp.json
*.local.json

# Logs
logs
*.log
npm-debug.log*

# Coverage
coverage

# Environment and Secrets
.env
.env.*
!.env.example

# Explorer
explorer/.output
explorer/.vercel
explorer/.netlify
explorer/.wrangler
explorer/.svelte-kit
explorer/build
explorer/vite.config.js.timestamp-*
explorer/vite.config.ts.timestamp-*

# IDE/Tools
.vscode-test
.eslintcache
