@import "tailwindcss";
@import "@varavel/ui/theme.css";
@source "../node_modules/@varavel/ui";

/* Add style to links in shiki code highlighting */
a.vdl-internal-link {
  @apply cursor-pointer underline decoration-dashed decoration-current underline-offset-4;
  @apply transition-opacity duration-200 ease-in-out;
  &:hover {
    @apply opacity-70;
  }
}

/* Add line numbers to shiki code highlighting */
.shiki {
  code {
    counter-reset: step;
    counter-increment: step 0;
    .line::before {
      @apply text-content-muted w-4 mr-2 inline-block text-right;
      content: counter(step);
      counter-increment: step;
    }
  }
}
